<% provide(:title, 'Sign up')%>
<h1>Sign up</h1>
<p>
  The <a href="http://railstutorials.org/">Ruby On Rails Tutorial</a>
  is a project to make a book and screencasts to teach web development
  with <a href="http://railstutorials.org/">Ruby On Rails Tutorial</a>.
  This is the sample appliction for the tutorials.
</p>	
